* {
  all: unset;
  font-family: "JetBrainsMono NF";
}

.cpu-box {
  background-color: #00cc00;
}

.popup {
  color: #50fa7b;
}

.bar, tooltip {
  background-color: #24273a;
}

/*
.right {
}

.time-text {
    // font-size: $textsize;
}
*/
.reboot-button {
  color: #8aadf4;
}

.sleep-button {
  color: #8aadf4;
}

.exit-button {
  color: #8aadf4;
}

.power-button {
  font-size: 24px;
  color: #ed8796;
}

/*
.power-box {
}

.power-box-expand {
}
*/
.system-confirm {
  color: #a6da95;
}

trough {
  border-radius: 3px;
  border-width: 1px;
  border-style: none;
  background-color: #6e738d;
  min-width: 4px;
  min-height: 4px;
}

slider {
  border-radius: 0%;
  border-width: 1px;
  border-style: none;
  margin: -9px -9px -9px -9px;
  min-width: 16px;
  min-height: 16px;
  background-color: transparent;
}

highlight {
  border-radius: 3px;
  border-width: 1px;
  border-style: none;
  min-width: 6px;
  min-height: 6px;
}

.audio-icon {
  color: #f5a97f;
}

.audio-volume {
  color: #f5a97f;
}
.audio-volume trough {
  background-color: #6e738d;
}
.audio-volume slider {
  background-color: transparent;
}
.audio-volume highlight {
  background-color: #f5a97f;
}

.mic-icon {
  color: #c6a0f6;
}

.mic-volume {
  color: #c6a0f6;
}
.mic-volume trough {
  background-color: #6e738d;
}
.mic-volume slider {
  background-color: transparent;
}
.mic-volume highlight {
  background-color: #c6a0f6;
}

.package-outofdate {
  margin: -5px -5px -5px -5px;
  color: #ed8796;
}

.bt-num {
  color: #1793D1;
}

.bt-label-on {
  color: #1793D1;
}

.bt-label-off {
  color: #1793D1;
}

.bt-label-connected {
  color: #1793D1;
}

.disk-util-progress {
  color: #c6a0f6;
  background-color: #6e738d;
}

.disk-data-text {
  color: #c6a0f6;
}

.vram-util-progress {
  color: #f5a97f;
  background-color: #6e738d;
}

.vram-data-text {
  color: #f5a97f;
}

.ram-util-progress {
  color: #eed49f;
  background-color: #6e738d;
}

.ram-data-text {
  color: #eed49f;
}

.gpu-util-progress {
  color: #91d7e3;
  background-color: #6e738d;
}

.gpu-data-text {
  color: #91d7e3;
}

.cpu-util-progress {
  color: #a6da95;
  background-color: #6e738d;
}

.cpu-data-text {
  color: #a6da95;
}

.battery-util-progress {
  color: #f5bde6;
  background-color: #6e738d;
}

.battery-data-text {
  color: #f5bde6;
}

.network-data-text {
  color: #a6da95;
}

.network-up-under {
  color: #6e738d;
}

.network-up-low {
  color: #a6da95;
}

.network-up-mid-low {
  color: #eed49f;
}

.network-up-mid-high {
  color: #f5a97f;
}

.network-up-high {
  color: #c6a0f6;
}

.network-up-over {
  color: #ed8796;
}

.network-down-under {
  color: #6e738d;
}

.network-down-low {
  color: #a6da95;
}

.network-down-mid-low {
  color: #eed49f;
}

.network-down-mid-high {
  color: #f5a97f;
}

.network-down-high {
  color: #c6a0f6;
}

.network-down-over {
  color: #ed8796;
}

.ws-dead {
  color: #6e738d;
}

.ws-inactive {
  color: #8aadf4;
}

.ws-visible {
  color: #91d7e3;
}

.ws-current {
  color: #eed49f;
}

.ws-active {
  color: #a6da95;
}

@keyframes connectanim {
  from {
    background-image: radial-gradient(circle farthest-side at center, #1793D1 0%, transparent 0%, transparent 100%);
  }
  to {
    background-image: radial-gradient(circle farthest-side at center, #1793D1 0%, #1793D1 100%, transparent 100%);
  }
}
@keyframes disconnectanim {
  from {
    background-image: radial-gradient(circle farthest-side at center, transparent 0%, #1793D1 0%, #1793D1 100%);
  }
  to {
    background-image: radial-gradient(circle farthest-side at center, transparent 0%, transparent 100%, #1793D1 100%);
  }
}
@keyframes scanonanim {
  from {
    color: #eed49f;
  }
  to {
    color: #a6da95;
  }
}
@keyframes scanoffanim {
  from {
    color: #a6da95;
  }
  to {
    color: #eed49f;
  }
}
.bt-bg {
  background-color: #24273a;
  border-radius: 16px;
}

.bt-header-box {
  margin-top: 4px;
  margin-right: 8px;
  margin-left: 8px;
  color: #1793D1;
}

.bt-body-box {
  margin-right: 8px;
  margin-left: 8px;
}

.bt-button {
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
}
.bt-button.active {
  animation-name: connectanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-button.inactive {
  animation-name: disconnectanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-button.failed {
  color: #ed8796;
}

.bt-close {
  color: #ed8796;
  background-color: #6e738d;
  border-radius: 16px;
  padding: 0px 8px 0px 7px;
  margin: 0px 0px 0px 8px;
}

.bt-scan {
  color: #eed49f;
  background-color: #6e738d;
  border-radius: 16px;
  padding: 2px 11px 0px 7px;
  margin: 0px 0px 0px 10px;
}
.bt-scan.active {
  animation-name: scanonanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.bt-scan.inactive {
  animation-name: scanoffanim;
  animation-duration: 50ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
