@define-color background #181926;
@define-color text #d3d3d3;

* {
    font-family: Cascadia Code;
    font-size: 20px;
    color: @text;
}

.modules-left, .modules-right, .modules-center {
    margin-top: 8px;
}
.modules-left {
    border-radius: 10px;
    margin-left: 20px;
}

.modules-right {
    margin-right: 20px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background-color: @background;
    border-radius: 10px;
}

#cpu, #memory, #pulseaudio, #clock, #network {
    background-color: @background;
    border-radius: 10px;
    margin-left: 8px;
    padding: 0 8px;
}

#window {
    background-color: @background;
    border-radius: 10px;
    padding: 0 8px;
}
