* {
    font-family: MesloLGS Nerd Font, Source Code Pro;
    font-size: 12px;
		font-weight: bolder;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 10px; */
    /* margin-left: 25px; */
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    background-color: #fff ;
    border-radius: 15px;
    margin-right: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-weight: bolder;
    color: 	#cba6f7 ;
}

#workspaces button.active{
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    padding-left: 20px;
    padding-bottom: 3px;
    background: rgb(202,158,230);
    background: linear-gradient(45deg, rgba(202,158,230,1) 0%, rgba(245,194,231,1) 43%, rgba(180,190,254,1) 80%, rgba(137,180,250,1) 100%); 
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    color: #fff;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}


#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    border-radius: 10px;
    background-color: #cdd6f4;
    color: #516079;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#window {
	background: linear-gradient(45deg, rgba(245,194,231,1) 0%, rgba(203,166,247,1) 64%, rgba(202,158,230,1) 100%); 
	color: #516079;
}

#clock {
    background: rgb(245,194,231);
    background: linear-gradient(45deg, rgba(245,194,231,1) 0%, rgba(203,166,247,1) 64%, rgba(202,158,230,1) 100%); 
    color: #fff ;
    background-size: 300% 300%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    animation: gradient 20s ease infinite;
    font-weight: bolder;
}

#battery.charging, #battery.plugged {
    background-color: #94e2d5 ;
}

#battery {
    background-color: #fff;
    color:#a6e3a1;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes blink {
    to {
        background-color: #f9e2af;
        color:#96804e;
    }
}

#battery.critical:not(.charging) {
    background-color:  #f38ba8;
    color:#bf5673;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
   
}

#cpu {
	background: rgb(200,223,255);
	background: linear-gradient(45deg, rgba(200,223,255,1) 0%, rgba(80,101,255,1) 100%);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
	color: #fff;
	/* background-color: #b4befe; */
}

#memory {
	/* background-color: #cba6f7; */
	background: rgb(211,180,255);
	background: linear-gradient(45deg, rgba(211,180,255,1) 0%, rgba(168,93,255,1) 100%);
	color: #fff;
}

#network.disabled{
    background-color: #45475a;
}

#network.disconnected{
    background: rgb(243,139,168);
    background: linear-gradient(45deg, rgba(243,139,168,1) 0%, rgba(250,179,135,1) 100%); 
    color: #fff;
    font-weight: bolder;
    padding-top: 3px;
    padding-right: 11px;
}

#network.linked, #network.wifi{
	/* background-color: #a6e3a1; */
	background: rgb(200,227,193);
	background: linear-gradient(45deg, rgba(200,227,193,1) 0%, rgba(112,235,102,1) 100%);
}

#network.ethernet{
    /* background-color:#f9e2af ; */
	background: rgb(255,244,203);
	background: linear-gradient(45deg, rgba(255,244,203,1) 0%, rgba(244,194,84,1) 100%);
}

#pulseaudio {
	/* background-color:  	#fab387; */
	background: rgb(255,202,162);
	background: linear-gradient(45deg, rgba(255,202,162,1) 0%, rgba(255,142,71,1) 100%);
}

#pulseaudio.muted {
	/* background-color: #90b1b1; */
	background: rgb(191,255,251);
	background: linear-gradient(45deg, rgba(191,255,251,1) 0%, rgba(47,221,221,1) 100%);
}

#tray {
	/* background-color: #2980b9; */
	background: rgb(168,221,255);
	background: linear-gradient(45deg, rgba(168,221,255,1) 0%, rgba(16,114,179,1) 100%);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
